[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	#url = https://lbergesio@github.com/lbergesio/vim-colors-solarized.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tender.vim"]
	path = bundle/tender.vim
	url = https://github.com/jacoborus/tender.vim.git
[submodule "bundle/lucario"]
	path = bundle/lucario
	url = https://github.com/raphamorim/lucario.git
